form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.user_name, div.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div > input {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px #5A7F35;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0 50px 10px 50px;
}

div > label {
  padding: 10px;
}

button {
  color: #494949 !important;
  text-decoration: none;
  background: white;
  padding: 10px 20px;
  border: 4px solid #494949 !important;
  margin-top: 50px;
  border-radius: 15px;
}

button:hover {
  background-color: #D58BFA;
  color: white !important;
  transition: .25s;
}

.title h1, .title p, .title a {
  background-color: #DBFFB7;
}

.title p {
  padding: 0px 40px;
}