.landing {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DBFFB7;
  border-radius: 15px;
  width: 100%;
  padding: 50px 10px 75px 10px;
  margin-top: 50px;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: 20px;
}

button {
  color: #494949 !important;
  text-decoration: none;
  background: white;
  padding: 20px;
  border: 4px solid #494949 !important;
  margin-top: 50px;
  border-radius: 15px;
}

button:hover {
  background-color: #D58BFA;
  color: white !important;
  transition: .25s;
}

.title h1, .title p, .title a {
  background-color: #DBFFB7;
}

.title p {
  padding: 0px 40px;
}