* {
  font-family: 'Spartan';
  color: #07312F;
}

.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://plant-app-images.s3.us-east-2.amazonaws.com/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right bottom;
}
 
.login {
  color: #07312F;
  text-decoration: none;
  background: #EFF9F4;
  padding: 20px;
  border: 4px solid #07312F;
}
